* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
  height: 95vh;
  display: flex;
  align-items: center;
}

main {
  margin: auto;
  padding: 20px;
  width: 500px;
  border: 2px solid black;
  border-radius: 15px;
}

h1 {
  text-align: center;
}

.quadrant,
#add-task {
  border: 1px solid blue;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px 5px;
}

#show-add-task {
  float: right;
}

#add-task #close-add-task {
  position: relative;
  top: -5px;
}

#add-task-button {
  float: right;
  margin-top: -15px;
}

form {
  margin: 30px auto;
  width: 250px;
}

form label {
  display: block;
  margin: 10px;
}

.hidden {
  display: none;
}