* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
}

main {
  margin: 0 auto;
  max-width: 500px;
  border: 2px solid black;
  border-radius: 15px;
}

h1 {
  text-align: center;
}

.quadrant {
  border: 1px solid blue;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 5px;
}

label {
  display: block;
  margin-left: 20px;
}

input {
  margin-right: 10px;
}